/* ________
Reset
_________ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ________
Common
_________ */

.barra-nav, ul{
    display: flex;
}

ul{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* ________
Buttons
_________ */

.btnprimario{
    background-color: #0061ff;
    color: #ffff;
    border: 0;
}

.inizia{
    padding: 8px 15px;
    vertical-align: top;
}

.prova{
    padding: 8px 0px;
    width: 190px;
}

.btn-column, .btn-row{
    padding: 10px;
    margin: 20px 0;
}

.btn-row{
    width: 238px;
}

/* ________
Header
_________ */

nav{
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffff;
    z-index: 999;
}

ul{
    align-items: center;
}

/* ________
Header Parte Sx
_________ */
li{
 padding-right: 38px;
 color: gray;
}

li:last-child{
    padding-right:0;
}

.uno{
    margin-left: 15px;
}

/* ________
Header Parte dx
_________ */

.due{
    margin-right: 15px;
}

/* ________
Main
_________ */

.big-container{
    padding-top: 80px;
    width: 50vw;
    margin: 0 auto;
}

/* ________
Sezione uno
_________ */

.titolo{
    font-size: 45px;
    margin-top: 40px;
}

.mini-container-prova{
    display: flex;
}

.colonna-uno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
    font-size: 13px;
    margin-top: 50px;
}

.colonna-due{
 position: relative;
 top: 50px;
}

.jumbo{
    width: 100%;
}

.icon{
    font-size: 30px;
}

.container-bg-prova{
    background-color: #b4d0e7;
}

/* ________
Sezione due
_________ */

.small-container{
    padding-top: 90px;
    width: 45vw;
    margin: 0 auto;
}

.titolo-piano{
    font-size: 30px;
    margin-bottom: 55px;
}

.sez-input{
    margin-right: 45px;
}

.click{
    vertical-align: middle;
    margin-right: 1px;
}

/* ________
Colonne
_________ */
.column{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 25px);
    border: 1px solid #d0d0d3;
    height: 950px;
}

.columns{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-top: 40px;
}

.piano{
    margin: 0 auto;
    padding: 8px 0;
}

.column-part{
    border-top: 1px solid #d0d0d3;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.titolo-column{
    font-size: 20px;
    padding-bottom: 10px;
}

.price-column, .periodo{
    font-size: 13px;
}

.periodo{
    color: grey;
    padding-bottom: 25px;
}

.price-column{
    font-weight: bold;
    padding-bottom: 8px;
}

.testo-column{
    font-size: 14px;
    padding-bottom: 10px; 
    text-align: start;
}

.riga{
    margin: 30px 0px;
    width: 45px;
    background-color: #d0d0d3;
    height: 1px;
    border: 0;
}

.punti-titolo{
    font-size: 13px;
    padding-bottom: 36px;
}

.punti{
    font-size: 13px;
    padding-bottom: 25px;
}

.link{
    color: #3100f1;
}

/* ________
Sezione ufficio vendite
_________ */
.column-ufficio-vendite{
    height: 255px;
    border: 1px solid #d0d0d3;
    margin-top: 48px;
}

.part-contact{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d0d0d3;
    padding: 10px 30px;
    align-items: baseline;
}

.team{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.bottom-part{
    padding-left: 30px;
    padding-top: 35px;
    width: 650px;
}


 
/* ________
Font Awesome
_________ */

.fa-solid{
    padding-right: 5px;
}

.fa-check{
    color: #426dff;
}



/* ________
Footer
_________ */