/*________
Reset
_________*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ________
Common
_________ */

ul{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.titolo-section{
    font-size: 33px;
}

/* ________
Buttons
_________ */

button{
    font-family: 'Open Sans', sans-serif;
}

.btnprimario{
    background-color: #0061ff;
    color: #ffff;
    border: 0;
}

.inizia{
    padding: 8px 15px;
}

.prova{
    padding: 8px 0px;
    width: 190px;
}

.btn-column, .btn-row{
    padding: 10px;
    margin: 20px 0;
}

.btn-row{
    width: 238px;
}

.trova-partner{
    padding: 8px 8px;
    margin-top: 35px;
    background-color: #ffff;
    border: 2px solid grey;
    color: gray;
    font-weight: 500;
}

.btn-business{
    border: 0;
    margin-left: 230px;
    width: 300px;
    margin: 25px;
}

/* ________
Header
_________ */

nav{
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffff;
    z-index: 999;
}

ul{
    align-items: center;
}

div.navpart ul li{
    line-height: 83px;
}

/* ________
Header Parte Sx
_________ */
li{
 margin-right: 38px;
}

li:last-child{
    padding-right:0;
}

.uno{
    margin-left: 15px;
}

/* ________
Header Parte dx
_________ */

.due{
    margin-right: 15px;
}

/* ________
Main
_________ */

.big-container{
    padding-top: 80px;
    max-width: 1177px;
    margin: 0 auto;
}

/* ________
Sezione uno
_________ */

.titolo{
    font-size: 50px;
    margin-top: 40px;
    font-weight: 800;
}

.mini-container-prova{
    display: flex;
}

.colonna-uno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
    font-size: 13px;
    margin-top: 50px;
}

.colonna-due{
 position: relative;
 top: 50px;
}

.jumbo{
    width: 100%;
}

.icon{
    font-size: 30px;
}

.container-bg-prova{
    background-color: #b4d0e7;
}

/* ________
Sezione due
_________ */

.small-container{
    padding-top: 90px;
    width: 1000px;
    margin: 0 auto;
}

.titolo-piano{
    font-size: 30px;
    margin-bottom: 55px;
}

.sez-input{
    margin-right: 45px;
}

.click{
    vertical-align: middle;
    margin-right: 1px;
}

/* ________
Colonne
_________ */
.column{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 30px);
    border: 1px solid #d0d0d3;
    height: 950px;
}

.columns{
    justify-content: space-between;
    margin-top: 40px;
}

.piano{
    margin: 0 auto;
    padding: 8px 0;
}

.column-part{
    border-top: 1px solid #d0d0d3;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.titolo-column{
    font-size: 20px;
    padding-bottom: 10px;
}

.price-column, .periodo{
    font-size: 13px;
}

.periodo{
    color: grey;
    padding-bottom: 25px;
}

.price-column{
    font-weight: bold;
    padding-bottom: 8px;
}

.testo-column{
    font-size: 14px;
    padding-bottom: 10px; 
}

.riga{
    margin: 30px 0px;
    width: 45px;
    background-color: #d0d0d3;
    height: 1px;
    border: 0;
}

.punti-titolo{
    font-size: 13px;
    padding-bottom: 36px;
}

.punti{
    font-size: 13px;
    padding-bottom: 25px;
}

.link{
    color: #3100f1;
}

/* ________
Sezione ufficio vendite
_________ */
.column-ufficio-vendite{
    height: 255px;
    border: 1px solid #d0d0d3;
    margin-top: 48px;
}

.part-contact{
    justify-content: space-between;
    border-top: 1px solid #d0d0d3;
    padding: 10px 30px;
    align-items: baseline;
}

.team{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.bottom-part{
    padding-left: 30px;
    padding-top: 35px;
    width: 650px;
}

/* ________
Sezione trova partner
_________ */

.img-partner{
    width: 600px;
}

.partner{
    margin-top: 140px;
}

.text-partner{
    margin-left: 50px;
}

.titolo-partner{
    font-size: 20px;
    margin-top: 56px;
    margin-bottom: 28px;
}



/* ________
Sezione operazioni dropbox
_________ */
.box{
    width: calc(100% / 3);
    flex-direction: column;
    margin-top: 50px;
}

.operazioni{
    gap: 50px;
}

.titolo-operazioni{
    margin-top: 170px;
    font-size: 25px;
}

.titolo-box{
    font-size: 18px;
    margin-bottom: 30px;
}

/* ________
Clienti
_________ */

.box-team{
    margin-top: 215px;
    margin-bottom: 150px;
}

.titolo-team{
    font-size: 25px;
    padding-bottom: 70px;
}

.link-client{
    font-size: 14px;
}

/* ________
Sezione box bottom
_________ */

.mini-box{
    width: calc(100% / 3);
    height: 642px;
}

.box-logo{
    width: 50%;
    height: 50%;
    justify-content: center;
    text-align: center;
}

.logo-client{
    width: 60%;
    filter: invert(100%)
}

/* ________
Sezione box bottom sinistra
_________ */
.sinistra{
    flex-wrap: wrap;
}

.designt{
    background-color: #a2d39b;
    border: 17px solid #d1e9cd;
}

.asu{
    background-color: #61082b;
}

.uf{
    background-color: #0093ce;
}

.uf-logo{
    object-fit: contain;
}   

.topps{
    background-color: #ff1c1c;
}

/* ________
Sezione box bottom centro
_________ */

.centro{
    background-color: #f5f5f5;
    padding: 50px;
}

.logo-client-centro{
    width: 270px;
    padding-bottom: 10px;
}

.lead-text{
    margin-bottom: 60px;
}

.box-riga{
    width: 107px;
}

/* ________
Sezione box bottom destra
_________ */

.destra{
    flex-wrap: wrap;
}

.bicycle{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.lonely{
    background-color: #0d2481;
}

.clear{
    background-color: #ffd830;
}

/* ________
Sezione Dropbox Business
_________ */

.box-business{
    height: 360px;
    background-color: #b4d0e7;
}

.bordeaux{
    color: #61082b;
}

.business-section{
    justify-content: space-between;
}

/* ________
Sezione Domande
_________ */

.hr-question{
    margin: 41px 0;
}

.questions{
    padding-bottom: 30px;
}

.margin-bottom{
    margin-bottom: 150px;
}

.box-question{
    justify-content: space-between;
    flex-wrap: wrap;
}

.answer{
    margin-top: 20px;
    display: none;
}

/* ________
Footer
_________ */
footer{
    width: 100%;
    height: 570px;
    background-color: black;
}

div.box-footer ul{
    flex-direction: column;
    align-items: flex-start;
}

ul.list-footer li:first-child{
    padding-bottom: 37px;
    font-size: 20px;
    color: #ffff;
}

ul.list-footer li{
    padding: 10px 0;
    font-size: 15px;
    color: #ffff;
}

.footer-container{
    justify-content: space-between;
}

.lingua{
    color: white;
    font-size: 14px;
}

.fa-angle-up{
    margin-left: 5px;
    font-size: 10px;
    vertical-align: middle;
}

.riga-footer{
    width: 120px;
    margin-bottom: 52px;
    margin-top: 10px;
}
 
/* ________
Font Awesome
_________ */

.fa-solid{
    padding-right: 5px;
}

.fa-check{
    color: #426dff;
}

.fa-angle-down{
    font-size: 15px;
    margin-right: 45px;
}

/* ________
Animazioni
_________ */

.fa-angle-down:hover{
    transform: rotateX(180deg);
    cursor: pointer;
    animation: rotate;
}

div.navpart ul li:hover{
    border-bottom: 2px solid black;
}

.fa-angle-down:hover + .answer{
    display: block;
}

.btnprimario:hover{
    cursor: pointer;
    background-color: #0093ce;
}

.btn-secondario:hover{
    cursor: pointer;
    background-color: #e8e4e4;
    color: white;
    border: white;
}

li:hover{
    color: darkgrey;
    cursor: pointer;
}

